#gallery {
  background-color: transparent;

  z-index: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  gap: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;

  padding: 1rem;

  height: 100vh;
}

#gallery > * {
  flex: 0 0 auto;
  margin: auto;
}

/* tilt effect stuff */
.game-tilt {
  --game-width: 15rem;
  width: min(var(--game-width), 90%);
  aspect-ratio: 4/5;
  border-radius: calc(var(--game-width) / 15);
  perspective: 800px;

  display: flex;
  flex-direction: row;
  transition: scale 0.2s ease-in-out;
}

.game-tilt,
.game-tilt * {
  cursor: pointer;
  user-select: none;
}

.game-tilt:hover > * {
  transform: rotateY(calc(var(--nx) * 24deg)) rotateX(calc(var(--ny) * -24deg));
}

.game-tilt:active {
  scale: 0.975;
}

.game-card {
  margin: auto;

  width: inherit;
  max-width: inherit;

  aspect-ratio: inherit;
  height: inherit;

  border-radius: inherit;

  transform-style: preserve-3d;
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.game-image {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  height: auto;

  border-radius: calc(var(--game-width) / 15) calc(var(--game-width) / 15) 0 0;

  user-select: none;

  background-color: color-mix(
    in hsl,
    color-mix(in hsl, var(--sn-color) 80%, white 20%) 10%,
    transparent 90%
  );
}

.game-text {
  width: 100%;
  aspect-ratio: 4;
  height: auto;

  display: grid;
  place-content: center;

  border-radius: 0 0 calc(var(--game-width) / 15) calc(var(--game-width) / 15);

  /* straight from mdn but who cares at least I don't use ai */
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.4),
    inset -2px -2px 3px rgba(0, 0, 0, 0.4);

  text-shadow: 1px 0 10px color-mix(in hsl, var(--sn-color) 20%, white 80%);

  user-select: none;

  background-color: var(--sn-color);
}
