/* top level stuff that mostly stays static */
:root {
  --sn-color: rgb(0, 114, 221);
  --sn-font: white;
}

body,
html {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

html * {
  font-family:
    "Comic Sans MS", "Comic Sans", cursive, Arial, Helvetica, sans-serif;
  color: var(--sn-font);
}

#logo {
  position: fixed;
  font-size: 2rem;
  left: 0.5rem;

  line-height: 100%;

  color: rgba(255, 255, 255, 0.5);
  z-index: 2;

  pointer-events: none;
  user-select: none;
}

/* fluentui reveal effect */
.ui {
  position: relative;
  --lx: -999px;
  --ly: -999px;
}

.ui::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, 0.6);
  pointer-events: none;

  mask-image: radial-gradient(
    circle 120px at var(--lx) var(--ly),
    white,
    transparent
  );
}

/* hover reveal */
.ui::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;

  background: radial-gradient(
    circle 60px at var(--lx) var(--ly),
    rgba(255, 255, 255, 0.1),
    transparent
  );
}

.ui:hover::after {
  opacity: 1;
}

/* custom elements */
game-gallery *, toolbar-body * {
  display: block;
}